version: 2.1

jobs:
  build_appimage_x86_64_base:
    machine:
      image: ubuntu-2204:2023.10.1
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Build appimage-x86_64-base
          command: |
            bash -e -c 'source scripts/build.sh; build appimage openscad/appimage-x86_64-base'

workflows:
  build:
    jobs:
      - build_appimage_x86_64_base
